body {
  background-color: gray;
}
#userName, #message{
  display:block;
  width: 30%;
}
.post{
  display: block;
}
#message{
  height: 10vw;
}
.displayMessages{
  margin-top:2vw;
}
.fullComment{
  margin-bottom: 1vw;
  background-color: #bcc;
}
.comment{
  margin-top: 1vw;
  margin-bottom: 1vw;
  font-size: 1.5vw;
}
span{
  margin-right: 2vw;
  color: rgb(32, 115, 224)
}
.edit, .remove{
  font-size: 1vw;
  padding:2px;
}
.newMessage{
  width: 100%;
}

